@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
}

/* ExtraLight */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: extralight;
}

/* Light */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

/* Regular */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

/* SemiBold */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: semibold;
}

/* Bold */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

/* Black */
@font-face {
  font-family: "Vazir";
  src: url("/fonts/vazir/Vazirmatn-FD-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: black;
}


@layer base {
  body {
    direction: rtl;
    font-family: "Vazir", sans-serif;
  }
}

button {
  cursor: pointer;
}

body {
  @apply bg-gradient-to-br from-blue-50 via-white to-indigo-50;
}