@import "tailwindcss";

/* Thin */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-Thin.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-Thin.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: thin;
}

/* ExtraLight */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-ExtraLight.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-ExtraLight.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: extralight;
}

/* Light */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-Light.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-Light.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

/* Medium */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-Medium.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-Medium.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

/* SemiBold */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-SemiBold.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-SemiBold.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: semibold;
}

/* Bold */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-Bold.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-Bold.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

/* Black */
@font-face {
  font-family: "Vazir";
  src: url("./fonts/vazir/Vazirmatn-FD-Black.eot");
  src: url("./fonts/vazir/Vazirmatn-FD-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/vazir/Vazirmatn-FD-Black.woff2") format("woff2"),
    url("./fonts/vazir/Vazirmatn-FD-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: black;
}


@layer base {
  body {
    direction: rtl;
    font-family: "Vazir", sans-serif;
  }
}